extends ../includes/base

block content
  section.hero.hero-inner
    .container: .row
      .hero-text.text-center.pt-60.pt-xs-20.pb-60.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        h1.mb-20.mt-30(data-component='Inplace' data-props='{"name":"title"}') -Title-
        h6.subheading.mt-0(data-component='Inplace' data-props='{"name":"subtitle"}')
          | -Subtitle-

  section.pt-100.pb-100(data-component='DocContent')
